.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;

}
.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter:invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}
/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #333; /* Set the background color of the scrollbar track */
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Set the background color of the scrollbar thumb */
    border-radius: 6px; /* Add rounded corners to the scrollbar thumb */
  }
  
  /* Change the appearance on Firefox */
  /* You may need to use this for Mozilla Firefox */
  /* Note: These properties are currently supported in Firefox */
  /* but it's always a good idea to check for updates in case things change */
  * {
    scrollbar-color: #555 #333; /* Set the scrollbar color (thumb and track) for Firefox */
    scrollbar-width: thin; /* Set the width of the scrollbar for Firefox */
  }
  




